QUIC server not supporting 0-RTT

#### Problem

The QUIC server doesn't not accept client connections with 0-RTT. Is that a wanted behaviour ?
The rust-ls server config parameter `max_early_data_size` must be set to `u32::MAX` so that the necessary crypto data is sent to the client and future 0-RTT connections are enabled. Solana currently uses the default of 0.

#### Proposed Solution

Add
```rust
server_tls_config.max_early_data_size=u32::MAX;
```
[here](https://github.com/anza-xyz/agave/blob/73b6df0ce195a413e1a6a71b66efb22a44c3bc99/streamer/src/quic.rs#L77).

Setting max_early_data_size to 2^32 creates a spamming incentive because 0-RTT packets are hard to rate-limit. Don't do this

Seems that 2^32 is only a sentinel value in the TLS parameters in QUIC, as per RFC9001 section 4.6.1, and not relied upon by QUIC to limit (or not) the maximum data. The actual maximum data is set by the stream_receive_window parameter in the transport config, as per quinn-proto's code, which is 1232 bytes.